<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>

  <appSettings>
    <add key="key1" value="value1"/>
  </appSettings>



  <connectionStrings>
    <clear/>
    <add name="DB1" providerName=" MySql.Data.MySqlClient" connectionString="Server=localhost;User=root;Database=news_data_pool;Port=3306;Password=3056jjjjj"/>
  </connectionStrings>
  
</configuration>
